*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
height: 100vh;
width: 100%;



}


.navbar2
{
  display: inline;
justify-content: end;
max-height: 100vh;

align-items:center ;

width: 200px; ;
background:#ccc ;

}



 .navbar{

 display:inline;
 
justify-content: center;
align-items: center;
padding: 60px 10px;

font-family: 'Helvetica';
  background-color: #272829 ;
  max-height:100vh;
     max-width: 20%;
     width: 20%;
     

}


.navbar > .btn:hover
{
  background-color: #626e6e;
  color: #FFFFFF;
}

.conteiner
{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.caveira
{width: 60px;
height: 40px;

}



.logo
{
  margin: 30px;
  display: flex;
  align-items:center ;
  justify-content: center;
background-color: rgb(87, 223, 139);
padding: 5px;
clip-path: circle( );

}

.btn{
  display: flex;
  color: #C6DAF1;
  justify-content: center;
  align-items:center;
  height: 30px;
  width: 75%;
  background-color: rgb(39, 40, 41);
  border-radius: 10px;
  margin: 13px;
  align-self: baseline;
  
}


.btn2
{
  display: flex;
  justify-content:center ;
  align-items: center;
  
  height: 20px;
  width: 70%;
  border-radius: 10px ;

  color: #C6DAF1;
   
  background-color: #d83133;
margin: 13px;
 align-self: baseline;
}

.ativo{
  background-color: rgb(226, 87, 129);}
  


    .content
    {
      width: 85%;
      height: 100%;
      
      background-color: rgb(68, 68, 83);
    }




.card
{
  
  width: 600px;
  height: 350px;
  background: #ccc;
  border-radius:  20px;
  transition: 0,5s;
  
  

}

.card .circle
{
 display: flex;
  top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.card .circle ::after
{ 
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #d83133;
clip-path: circle(120px at center);
}