body{
  display: flex;
height: 200vh;
width: 100%;



}




 .navbar{
     background-color: blanchedalmond ;
     height:100%;
     width: 20%;
border-radius: 25px;

    }

    .content{
      width: 85%;
      height: 100%;
      border-radius: 20px;
      background-color: rgb(68, 68, 83);
    }


.conteiner
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card
{
  
  width: 300px;
  height: 200px;
  background: #ccc;
  border-radius: 25px;
  

}

